
    <nav>
        <div class="nav-wrapper grey">
            <a href={{ url('home') }} class="brand-logo" id="spec-logo">
                <img class="responsive-img" src={{ asset('img/books.png') }} width="60" alt="logo"/><span class="text-logo">Biblio</span>
            </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <div class="container">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href={{ url('app_login') }}>Parcourir la bibliothèque</a></li>
                    {% if app.user %}
                        <li><a href={{ url('app_login') }}>Prêts en cours</a></li>
                    {% endif %}
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if app.user %}
                        <li><a href={{ url('app_login') }}>Information sur le compte</a></li>
                        <li><a href={{ url('app_logout') }}>Se déconnecter</a></li>
                    {% else %}
                        <li><a href={{ url('app_login') }}>Se connecter</a></li>
                        <li><a href={{ url('app_register') }}>Créer un compte</a></li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
        {% if app.user %}
            <li><a href={{ url('app_login') }}>Prêts en cours</a></li>
            <li><a href={{ url('app_logout') }}>Information sur le compte</a></li>
            <li><a href={{ url('app_logout') }}>Se déconnecter</a></li>
        {% else %}
            <li><a href={{ url('app_login') }}>Se connecter</a></li>
            <li><a href={{ url('app_register') }}>Créer un compte</a></li>
        {% endif %}
    </ul>


