
<div class="row">
    <div class="col m12 blue-grey lighten-5 z-depth-3">
        <div class="row">
            <form  method="POST" action="{{path('book')}}">
                <h5 id="h5-search">Votre recherche :</h5>
                <div class="input-field col s12 m3">
                    <input type="text" id="titre" name="titre" class="validate" value="{{ (posts) ? posts['titre'] : '' }}">
                    <label for="titre">Titre</label>
                </div>
                <div class="input-field col s12 m3">
                    <input type="text" id="auteur" name="auteur" class="validate" value="{{ (posts) ? posts['auteur'] : '' }}">
                    <label for="auteur">Auteur</label>
                </div>
                <div class="input-field col s12 m2">
                    <select id="genre" name="genre">
                        <option value="" selected></option>
                        {% for genre in genres %}
                            <option value="{{ genre.nom }}" {{ (posts and posts['genre'] == genre.nom) ? 'selected' : '' }}>{{ genre.nom }}</option>
                        {% endfor %}
                    </select>
                    <label>Genre</label>
                </div>
                <div class="input-field col s12 m2">
                    <select id="langue" name="langue">
                        <option value="" selected></option>
                        {% for langue in langues %}
                            <option value="{{ langue.nom }}" {{ (posts and posts['langue'] == langue.nom) ? 'selected' : '' }}>{{ langue.nom }}</option>
                        {% endfor %}
                    </select>
                    <label>Langue</label>
                </div>
                <div class="col s12 m1">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Recherche</button>
                </div>
            </form>
        </div>
    </div>
</div>


