{% extends 'base.html.twig' %}

{% block title %}Nos livres{% endblock %}

{% block body %}
    {% include('book/_partials/search.html.twig') %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            {% for book in books %}
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://picsum.photos/100/190" alt="photo du livre">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ book.titre }}</h3>
                            <div class="row">
                                <div class="col s7">
                                    <p>Genre : <span class="info">{{ book.genre[0].nom }}</span></p>
                                </div>
                                <div class="col s4">
                                    <p>Par : <span class="info">{{ book.auteur[0].prenom }} {{ book.auteur[0].nom }}</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <p>Date de publication : <span class="info">{{ book.datePublication|date("d/m/Y") }}</span> </p>
                                </div>
                                <div class="col s4">
                                    <p>Editeur : <span class="info">{{ book.editeur.nom }}</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <p>ISBN : <span class="info">{{ book.isbn[0:3] }}-{{ book.isbn[3:1] }}-{{ book.isbn[4:4] }}-{{ book.isbn[8:4] }}-{{ book.isbn[12:] }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s12">
                                    <p>Présentation :</p>
                                    <p>
                                        <span class="info">{{ book.description.titre }}</span>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <p>Disponibilité : </p>
                                </div>
                                <div class="col s8">
                                    {% for biblio in book.exemplaire %}
                                        {% set nbex = 0 %}
                                        {% for ex in exemplaires %}
                                            {% if ex.isbn.isbn == book.isbn and ex.bibliotheque.nom == biblio.nom %}
                                                {% set nbex = nbex + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        <p><span class="info">{{ biblio.nom }} : {{ nbex }}</span></p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
